.game {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  background-color: #4db8ec;
  max-width: 632px;
  height: 478px;
  font-size: 16px;
  overflow: hidden;
  cursor: default;
}

.animate-enter {
  transform: translate(632px);
}

.animate-enter-active {
  transform: translate(0);
  transition: transform 500ms;
}

.animate-exit {
  transform: translate(0);
}

.animate-exit-active {
  transform: translate(-632px);
  transition: transform 500ms;
}

.switch-enter {
  opacity: 0;
}

.switch-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}

.switch-exit {
  opacity: 1;
}

.switch-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

