.game {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  margin: 0 auto;
  background-color: #4db8ec;
  max-width: 632px;
  height: 478px;
  font-size: 16px;
  font-family: Open Sans,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  overflow: hidden;
}