@import "../components/game/game.scss";
@import '../components/items/items.scss';
@import '../components/menu/menu.scss';
@import '../components/number/number.scss';
@import '../components/task/task.scss';
@import '../components/tutorial/tutorial.scss';
@import '../components/results/results.scss';
@import '../styles/animations.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}